@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
:root,
:host {
  --primary-color: #fff9cb;
  --background-color: #040404;
}

.cascadia-code {
  font-family: 'Cascadia Code', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.paper {
  /* https://grainy-gradients.vercel.app/ */
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.page {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3) inset;
}

.sticky-note-shadow {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.4) 75%,
    rgba(0, 0, 0, 0.7) 85%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
