@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
:root,
:host {
  --primary-color: #fff9cb;
  --background-color: #040404;
}

.cascadia-code {
  font-family: 'Cascadia Code', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}